<!-- views/main-page.ejs -->
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/dopify-site.css">
        <link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist/css/bootstrap.css">
        <title>User profile</title>
    <link rel="stylesheet" type="text/css" href="css/dopify-site.css">
    </head>

    <body>
        <main>
            <div class="container-fluid">
            <div id="message">
                <%- include('nav')%>
                <h1><%=name%></h1>
                <h2><%=email%></h2>
                <p><%=uid%></p>
                <p><%=photoUrl%></p>
                <p><%=emailVerified%></p>
            </div>
        </div>
        </main>
    </body>
</html>
